* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

/* Define o contêiner como relativo para posicionar os títulos absolutamente dentro dele */
.container-titulo {
    position: relative; /* Necessário para que os títulos sejam posicionados relativamente a este contêiner */
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
    color: white; /* Cor padrão para os títulos, ajuste conforme necessário */
}

/* Posiciona os títulos absolutamente dentro do contêiner */
.container-titulo h1, 
.container-titulo h2, 
.container-titulo h3, 
.container-titulo h4 {
    position: absolute; /* Permite posicionar os títulos sobre o vídeo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o alinhamento central */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para melhorar a visibilidade sobre o vídeo */
    z-index: 10
}

/* Ajusta as posições dos títulos */
.container-titulo h1 {
    top: 10px;
}

.container-titulo h2:nth-of-type(1) {
    top: 100px; /* Ajuste conforme necessário */
}

.container-titulo h2:nth-of-type(2) {
    top: 165px; /* Ajuste conforme necessário */
}

.container-titulo h3:nth-of-type(1) {
    top: 230px; /* Ajuste conforme necessário */
}

.container-titulo h3:nth-of-type(2) {
    top: 280px; /* Ajuste conforme necessário */
}

.container-titulo h3:nth-of-type(3) {
    top: 333px; /* Ajuste conforme necessário */
}

.container-titulo h4 {
    top: 385px; /* Ajuste conforme necessário */
}

.container-titulo h1:hover, 
.container-titulo h2:hover, 
.container-titulo h3:hover, 
.container-titulo h4:hover {
    color: rgb(211, 35, 143);
    cursor: default;
}

/* Estilos para o header */
header {
    background-color: #1d1622;
    color: #fff;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 7%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

/* Estilo para o body */
body {
    background-color: #4A2B35;
    color: #fff;
    overflow-x: hidden;
}

/* Navegação */
nav {
    margin-left: auto;
    display: flex;
    align-items: center; 
    height: 100%; 
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;  
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
}

.nav-links li a:hover {
    color: rgb(211, 35, 143);
}

/* Container para o logo */
.container-logo {
    display: flex;
    align-items: center;
}

.container-logo img {
    height: 3em;
}

/* Estilo para o botão de chamada para ação */
.cta {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #40a184;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.cta:hover {
    background-color: #2abd4f;
}

/* Estilos para a seção sobre */
.sobre h4 {
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.sobre h4:hover {
    color: rgb(211, 35, 143);
    cursor:default;
}

.rosa-texto {
    color: rgb(211, 35, 143);
    font-style: bold;
    font-size: 35px;

}

/* Estilos para o texto sobre */
.sobre-texto {
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 3s ease-in-out; /* Animação suave de opacidade */
    position: relative; /* Necessário para o botão de pulo */
    text-align:left;
    font-size: 28px;
    margin: 10px 50px;
    color: #efefef;
    cursor:default;
    hyphens: auto;
    
}

.sobre-texto.visible {
    opacity: 1; /* Torna o texto visível quando a classe 'visible' é adicionada */
}


/* Estilos para a seção projetos */
.projeto-section {
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Estilos gerais para a seção projetos */
.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    background-color: #4A2B35;
    color: #fff;
    text-align: center;
}

.projeto-coluna {
    background-color: #1d1622;
    padding: 20px;
    margin-left: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projeto-coluna h3 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #fff;
    flex-wrap: wrap;
    
}

/* Estilos para o carrossel */
.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do container */
    height: 200px; /* Defina uma altura fixa para todas as imagens */
    object-fit: cover; /* Garante que a imagem cubra o container sem distorção */
    display: block; /* Remove espaços em branco ao redor da imagem */
    border-radius: 8px; /* Adiciona bordas arredondadas, se desejado */
    object-position:50% 5%;
}



.slick-prev, .slick-next {
    background-color: #1d1622;
    border-radius: 50%;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

/* Estilos para o contêiner do texto sobre */
.sobre-texto-container {
    position: relative; /* Define o contêiner como relativo para posicionar o botão absoluto dentro dele */
    margin: 0px 350px;
    background-color: #4A2B35; /* Ajuste conforme o design */
}

/* Estilos para o botão de pular texto */
.pular-texto {
    position: absolute; /* Posiciona o botão de forma absoluta dentro do contêiner */
    top: 30%; 
    right: 25%;
    background-color: #f5961a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    z-index: 2; /* Garante que o botão esteja acima do texto */
    font-size: 100px;
    border-radius: 30px;
    transition: opacity 3s ease-in-out;
}

.visible {
    opacity: 80%;
}

.hidden {
    transition: opacity 2s ease-in-out;
    opacity: 0;
}

.hidden2 {
    display: none;
}

.pular-texto:hover {
    background-color: #ec2424;
}

.contato-container {
    background-color: #1d1622;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #efefef;
}

/* Form Styles */
.form-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #efefef
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}


.error-message {
    color: #e74c3c;
    font-size: 14px;
    position: absolute;
    top: 70px;
    left: 0;
    display: none; 
}


.button-contato {
    width: 100%;
    padding: 10px;
    background-color: #40a184;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2abd4f;
}




@media (max-width: 768px) {
    * {
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }

      nav {
        width: 100%;
      }

    header {
    height: 85px;
    }

    video {
        width: 100%; /* Mantém a largura do vídeo */
        height: auto; /* Ajusta a altura automaticamente */
        min-height: 37vh; /* Define a altura mínima para cobrir o conteúdo */
        object-fit: cover; /* Mantém o vídeo ajustado */
    }
    .container-titulo {
        font-size: 2em;
        margin-top: 50px;
        margin-bottom: 2em;
    }

    .container-titulo h1,
    .container-titulo h2,
    .container-titulo h3,
    .container-titulo h4 {
        font-size: 1.1em;
    }

    .container-titulo h1 {
        top: 35px;
    }

    .container-titulo h2:nth-of-type(1) {
        top: 75px;
    }

    .container-titulo h2:nth-of-type(2) {
        top: 115px;
    }

    .container-titulo h3:nth-of-type(1) {
        top: 155px;
    }

    .container-titulo h3:nth-of-type(2) {
        top: 195px;
    }

    .container-titulo h3:nth-of-type(3) {
        top: 235px; 
    }

    .container-titulo h4 {
        top: 270px;
    }

    .skip-button {
        font-size: 24px;
        padding: 8px 16px;
    }
    .sobre-texto-container {
        position: relative; /* Define o contêiner como relativo para posicionar o botão absoluto dentro dele */
        margin: 0px 0px;
        background-color: #4A2B35; /* Ajuste conforme o design */
    }
    .cta {
        margin-left: 3px;
        padding: 3px 3px;
        background-color: #40a184;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        border-radius: 3px;
    }
    .nav-links {
        list-style: none;
        display: flex;
        gap: 15px;  
        margin: 0;
        padding: 3px;
    }
}

